name: CI - Train and Save model

on: #action on which workflow has to trigger
  push: 
    branches: [main] #only when action is on main branch
  pull_requests:
    branches: [main]

jobs:
  matrix-pip: #this is the job name
    name: Train and Save model # this is the description of the job
    runs-on: ubuntu-latest #indicates the runner on which job is run
    strategy: #indicates the strategy of how job is run
      matrix: #this is the strategy
        python: [3.11,3.12] # describe the versions of python on which job should be run

  steps:
    - name: Checkout # check out the source code so it has required files
      uses: actions/checkout@v4 #this is the github action to : Checkout a Git repository at a particular version
  
    - name: Setup python
      uses: actions/setup-python@v4 #Github action to install python
      with: # to indicate the python version
        python-version: ${{matrix.python}} ## this way the versions mentioned earlier is used

    - name: Upgrade pip
      run: python -m pip install --upgrade pip setuptools wheel ## upgrading setuptools and wheel is optional 

    - name: Install project dependencies
      run: python -m pip install -r requirements.txt